<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^contact\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="contact" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="contact.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL2" stopProcessing="true">
                    <match url="^our-wine\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="our-wine" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^our-wine$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="our-wine.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL3" stopProcessing="true">
                    <match url="^about\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="about" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^about$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="about.php" />
                </rule>
                <rule name="RedirectUserFriendlyURL4" stopProcessing="true">
                    <match url="^index\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="index" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^index$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL6" stopProcessing="true">
                    <match url="^cabernet-sauvignon\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="cabernet-sauvignon" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^cabernet-sauvignon$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cabernet-sauvignon.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL7" stopProcessing="true">
                    <match url="^merlot\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="merlot" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
                    <match url="^merlot$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="merlot.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL8" stopProcessing="true">
                    <match url="^pinot-gris\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="pinot-gris" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL8" stopProcessing="true">
                    <match url="^pinot-gris$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pinot-gris.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL9" stopProcessing="true">
                    <match url="^chardonnay\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="chardonnay" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL9" stopProcessing="true">
                    <match url="^chardonnay$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="chardonnay.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL10" stopProcessing="true">
                    <match url="^red-blend\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="red-blend" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL10" stopProcessing="true">
                    <match url="^red-blend$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="red-blend.html" />
                </rule>
                <rule name="RedirectUserFriendlyURL11" stopProcessing="true">
                    <match url="^privacy-policy\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="privacy-policy" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL11" stopProcessing="true">
                    <match url="^privacy-policy$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="privacy-policy.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
