/*!
 * Age verification CSS to go with the JS that can be found at (https://github.com/Herudea/age-verification)
 */

#modal_screen {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1100;
	background-color: rgba(0,0,0,.8);
}

#modal_screen.nope {
	background-color: #1e0924; 
}

#modal_content {
	position: absolute;
	top:0;
	z-index: 1101;
	margin: 0 auto;
	background-color:#fff;
	
	font-size: 12px;
	max-width: 500px;
	height: auto;
	
	border-radius:15px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

#modal_content .content_wrapper {
	padding-top: 0;
	margin:0 auto;
	text-align: center;
}

#modal_content h3 {
	display:none;
	/*margin: 0 0 0 0;
	font:normal 1.75em/1.5em 'gothamlight', Helvetica,arial,sans-serif;
	font-weight:bold;
	padding:0.5em;*/
}

#modal_content p {
	max-width: 85%;
	margin: 0 auto;
	color:#000;
	/*font:1.2em/1.35em "gothamlight", Helvetica,arial,sans-serif;*/
}

#modal_content_wrapper > img {
	/*display:none;	*/
	padding:1.5em;
}

#modal_content nav {font-size: 16px; display:table; margin:0 auto; text-align:center; }
#modal_content nav ul {display:inline-block; width: 100%; padding:0;}
#modal_content nav li {display: table-cell; text-align: right; width: auto;}

#modal_content nav:after {
	content: "";
	display: block;
	clear: both;
}

#modal_content nav small {
	display: block;
	text-align: center;
	color: #888;
	margin: 1em 0 0;
}

#modal_content nav a.av_btn {
	display: block;
	text-align: center;
	width: 90px;
	border-radius: 0.5em;
	margin: 1em auto 0;
	text-decoration: none;
	padding: 0.5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0;
	font-size: 1em;
}

#modal_content nav .av_go {
	background-color: #49181e;
}

#modal_content nav .av_no {
	background-color: #938d95;
}

#modal_content nav .av_btn:hover {
	background-color: #1e0924;
}

#modal_content #modal_regret_wrapper nav a.av_btn {
	margin-top:0;
	width:150px;
	font-size: 0.8em;
}

@media (min-width: 640px) {
	#modal_content {
		/*top: 2.0em !important;
		left: 30vw;*/
		width: 95%;
		max-width: 500px;
		height:auto;
		padding:1em;
		
		background-position: center 3em;
		background-size: 160px auto;
		font-size: 16px;
	}
}
